html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #EBF3FB;
}

#root{
  width: 100%;
  height: 100%;
}

.example{
  display: flex;
  flex-direction: column;
  align-items: center;
}
