<div class="example" style="padding-top: 40px">
  <go-captcha-click
    [data]="clickData"
    [events]="clickEvents"
  ></go-captcha-click>
  <br/>
  <go-captcha-slide
    [data]="slideData"
    [events]="slideEvents"
  ></go-captcha-slide>
  <br/>
  <go-captcha-slide-region
    [data]="slideRegionData"
    [events]="slideRegionEvents"
  ></go-captcha-slide-region>
  <br/>
  <go-captcha-rotate
    [data]="rotateData"
    [events]="rotateEvents"
  ></go-captcha-rotate>
  <br/>
  <go-captcha-button [clickEvent]="handleEvent"></go-captcha-button>
</div>
